.solutionsCards {
  background: linear-gradient(
    235deg,
    rgba(179, 255, 56, 0.05) 1.17%,
    rgba(255, 255, 255, 0.01) 60.24%
  );
  border-radius: 10px;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 25px 30px;
  gap: 10px;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .solutionsCards__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background-bagde-tag);
    border-radius: 100%;
    padding: 15px;
  }

  .solutionsCards__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color: var(--color-text);
      line-height: 110%;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--color-text-tertiary);
    }

    @media (max-width: 1024px) {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
