:root {
  /* Font Families */
  --font-funnel-display: "Funnel Display", sans-serif;

  /* Colors */
  --color-primary: #b1ff34;
  --color-degrade-primary: linear-gradient(270deg, #b1ff34 0%, #d3ff8c 82.69%);
  --color-degrade-primary-hover: linear-gradient(
    270deg,
    #659b0e 0%,
    #acf721 82.69%
  );
  --color-secondary: #090d0d;
  --color-background: #0f0f0f;
  --color-border: #ffffff10;
  --color-background-nav: rgba(255, 255, 255, 0.05);
  --color-background-bagde: rgba(255, 255, 255, 0.07);
  --color-background-bagde-tag: linear-gradient(
    270deg,
    #b1ff34 0%,
    #d3ff8c 82.69%
  );
  --color-background-cta: linear-gradient(270deg, #b1ff34 0%, #d3ff8c 82.69%);
  --color-background-highlight: linear-gradient(
    270deg,
    #b1ff34 0%,
    #d3ff8c 82.69%
  );
  --color-background-footer: #191919;
  --color-text: #ffffff;
  --color-text-secondary: #1e1e1e;
  --color-text-tertiary: #d2d2d2;
  --color-text-bagde: linear-gradient(90deg, #fff 0%, #999 100%);
  --color-text-secondary: #1e1e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #a3e635;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #84cc16;
}

body {
  font-family: var(--font-funnel-display), sans-serif;
  background-color: var(--color-background);
}
