.header {
  margin-top: 40px;
}

.nav {
  background-color: var(--color-background-nav);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 99px;
  padding: 10px 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nav__menu__desktop {
  display: flex;
  align-items: center;
  gap: 32px;

  li {
    list-style: none;
    font-size: 20px;
    color: var(--color-text);

    a {
      text-decoration: none;
      color: var(--color-text);
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.nav__menu__mobile {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 24px;

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: var(--color-text);
      transition: color 0.3s ease;
      font-size: 16px;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.nav__contact {
  background: var(--color-degrade-primary);
  border-radius: 99px;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  transition: all 0.3s ease;

  .nav__contact__text {
    font-size: 20px;
    color: var(--color-text-secondary);
    font-style: normal;
    font-weight: 500;
  }

  .nav__contact__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    width: 35px;
    height: 35px;
    border-radius: 99px;
    color: var(--color-primary);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    background: var(--color-degrade-primary-hover);
  }
}

@media (max-width: 1024px) {
  .nav {
    padding: 10px 30px;
  }

  .nav__menu__desktop li {
    font-size: 18px;
  }

  .nav__contact .nav__contact__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-top: 20px;
  }

  .nav {
    padding: 10px 16px;
    border-radius: 50px;
    flex-direction: column;
    align-items: stretch;
  }

  .nav__menu__desktop {
    display: none;
  }

  .nav__menu__mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .nav__contact {
    padding: 8px 16px;
    width: 100%;
    justify-content: center;

    .nav__contact__text {
      font-size: 16px;
      display: none;
    }

    .nav__contact__icon {
      width: 30px;
      height: 30px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
