.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.about__container {
  width: 100%;
  max-width: 1064px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .about__image img {
    width: 100%;
    max-width: 524px;
    height: auto;
    min-height: 300px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  @media (max-width: 1024px) {
    gap: 24px;

    .about__image img {
      max-width: 350px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;

    .about__image img {
      max-width: 100%;
      height: auto;
      min-height: 250px;
    }
  }

  .about__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    h3 {
      font-size: 48px;
      background: var(--color-degrade-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    h4 {
      font-size: 24px;
      line-height: 110%;
      color: var(--color-text);
      font-weight: 400;
    }

    .about__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      p {
        font-size: 20px;
        color: var(--color-text-tertiary);
        text-align: justify;
      }
    }

    @media (max-width: 1024px) {
      h3 {
        font-size: 36px;
      }

      h4 {
        font-size: 20px;
      }

      .about__description p {
        font-size: 18px;
      }
    }

    @media (max-width: 768px) {
      h3 {
        font-size: 28px;
      }

      h4 {
        font-size: 18px;
      }

      .about__description p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
}
