.highlights {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;

  .highlights__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background-highlight);
    border-radius: 100%;
    padding: 15px;
    flex-shrink: 0;
  }

  .highlights__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    line-height: 110%;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 12px;

    .highlights__content {
      font-size: 14px;
    }
  }
}
