.footer {
  background: var(--color-background-footer);
  padding: 30px 20px;
  margin-top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .footer_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    .footer_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-primary);
      padding: 10px;
      border-radius: 100%;
      cursor: pointer;
      text-decoration: none;
      color: var(--color-secondary);
      transition: all 0.3s ease;

      &:hover {
        background: var(--color-secondary);
        color: var(--color-text);
      }
    }
  }

  .footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
    flex-wrap: wrap;
    text-align: center;

    span {
      font-weight: 600;
      margin-right: 5px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .footer_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
    flex-wrap: wrap;

    a {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-text);
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: var(--color-primary);
      }
    }

    @media (max-width: 768px) {
      a {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 100px;
    padding: 20px 16px;
  }
}
